html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    margin: 4vh;
    margin-bottom: 4vh;
    width: 95vw;
    height: 5vw;
    border-radius: 5vw;
    background : linear-gradient(to right,#F7B5CA,#FFEBD4)
}

a {
    padding: 4.5vw;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: none;
}

.text-container {
    display: flex;
    flex-direction:column;
    transform: translateY(-8.3vw);
}

.text-container_2 {
    z-index: -1;
    display: flex;
    flex-direction:column;
    transform: translateY(-20.5vw);
}

.text-border_pink {
    color: #F0A8D0;
    text-shadow: 0.3vw 0.2vw 0 #ffffff,   
    -0.2vw -0.2vw 0 #ffffff, 
    0.2vw -0.2vw 0 #ffffff,  
    -0.2vw 0.2vw 0 #ffffff;  
}

.text-border_white {
    z-index: 1;
    font-size: 6vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.3vw 0.3vw 0 #F0A8D0,   
    -0.3vw -0.3vw 0 #F0A8D0, 
    0.3vw -0.3vw 0 #F0A8D0,  
    -0.3vw 0.3vw 0 #F0A8D0;  
}

.text-border_black {
    z-index: 1;
    font-size: 8vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.1vw 0.1vw 0 #474747,  
    -0.1vw -0.1vw 0 #474747,
    0.1vw -0.1vw 0 #474747,  
    -0.1vw 0.1vw 0 #474747;  
}

.image-container {
    margin: 1vw;
    padding: 30px;
    display: flex;
    flex-direction: column;

}
.image-circle {
    z-index: -1;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    
}
.shadow {
    box-shadow: 0px 5px 5px rgb(157, 157, 157);
}

#shadow_1 {
    z-index: 0;
    font-weight: bold;
    font-size: 6vw;
    color: #ffffff;
    text-shadow: 0px 5px 3px rgb(183, 183, 183);
    transform: translateY(-7.5vw);
}

#shadow_2 {
    position: relative; 
    z-index: 2; 
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    color: #ffffff;
    text-shadow: 0px 5px 3px rgb(183, 183, 183);
    transform: translateY(-11.5vw);
}

#subtext {
    font-size: 3vw;
    color: rgb(224, 224, 224);
    transform: translateY(-20vw);
}

.line-container {
    height: 0.5vw; 
    width: 100%; 
    transform: translateY(-11vw);
    background: linear-gradient(to right, white, pink, white);
    border: 0; 
    margin: 20px 0; 
}

.body_2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vw;
    gap: 6vw;
}

.box {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vw;
    border-radius: 4vw;
    border:0.1vw solid rgb(203, 203, 203);
    background: linear-gradient(to bottom,#FFFFFF,#FCE1E1)
}



.text-border_box {
    position: relative; 
    z-index: 1;
    text-align: center;
    transform: translateY(-4vw);
    font-size: 6vw;
    font-weight: bold;
    color: #F0A8D0;
    text-shadow: 0.3vw 0.3vw 0 #ffffff,  
    -0.3vw -0.3vw 0 #ffffff, 
    0.3vw -0.3vw 0 #ffffff,  
    -0.3vw 0.3vw 0 #ffffff;  
    ;
}

.text {
    text-decoration: none;
    font-size: 2vw;
    color: #525252;

}
.list a {
    color: #007BFF; 
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline; 
}